@tailwind base;
@tailwind components;
@tailwind utilities;

.custom-class {
    @apply text-center bg-blue-500;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body { 
    background: #f9f9ff;
    min-height: 100vh;
    overflow-x: hidden;
}

header { 
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 30px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

#header {
    background-color: rgb(255, 119, 0);
}

#header.hidden {
    transform: translateY(-100%);
}
  
.nav-link {
    text-decoration: none;
    transition: text-decoration 0.3s ease; 
}

.nav-link:hover {
    text-decoration: underline;
    color: white;
}



.cards-section {
    height: 300px;
    display: flex;
    flex-direction: column;
}
  
.card {
    display: flex;
    flex-direction: column;
    height: 100%; 
    border: 1px solid #ccc;
    border-radius: 8px;
    overflow: hidden;
    margin-bottom: 30px;
}
  
.card-body {
    flex-grow: 1;
    padding: 15px;
}
  
.card-img-top {
    width: 100%;
    height: 200px; 
    object-fit: cover;
}
  
.card-text {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    color: #000000;
}
  
  

/* Styling for pagination */
.pagination {
    display: flex;
    justify-content: center;
    margin-top: 20px;
  }
  
  .pagination button {
    padding: 10px;
    margin: 0 5px;
    border: none;
    background-color: #f1f1f1;
    cursor: pointer;
    border-radius: 5px;
  }
  
  .pagination button:hover {
    background-color: #ddd;
  }
  
  .pagination button.active {
    background-color: #2233cc;
    color: white;
  }
  